# .env.local  (Next.js)
# Ganti URL ini sesuai alamat Flask API kamu

# Development (Flask jalan lokal)
NEXT_PUBLIC_API_URL=http://localhost:5000

# Production (Flask di server)
# NEXT_PUBLIC_API_URL=https://api.domainmu.com
